<!DOCTYPE html>
<html lang="en">
<!--begin::Head-->
<head>
  <title>{{{block "title"}}}</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<!--end::Head-->
<!--begin::Body-->
<body>{{{body}}}</body>
<!--end::Body-->
</html>